<script>
  import { onMount } from "svelte";
  import game from "./scripts/game";
  let isEnd = false;
  let endText = "";
  let modeSelected = false;
  let settings = null;

  import firebase from "firebase/app";
  import "firebase/firestore";
  // import { fire } from "./store.js";
  let firebaseConfig = {
    apiKey: "AIzaSyCJjbQjl843CBJg-eHreNpNJXBQWsb1V-A",
    authDomain: "tank-wars-ai.firebaseapp.com",
    databaseURL: "https://tank-wars-ai.firebaseio.com",
    projectId: "tank-wars-ai",
    storageBucket: "tank-wars-ai.appspot.com",
    messagingSenderId: "772835593138",
    appId: "1:772835593138:web:e2ba5a3347dae4b47172ab"
  };
  firebase.initializeApp(firebaseConfig);
  const db = firebase.firestore();
  onMount(() => {
    db.doc("settings/global")
      .get()
      .then(doc => {
        settings = doc.data();
      });
  });

  const chooseMode = mode => () => {
    modeSelected = true;
    game.start(mode, settings, firebase, db, onEnd);
  };
  const onEnd = tank => {
    isEnd = true;
    endText = `${tank == 0 ? "Red" : "Blue"} player wins`;
  };
</script>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
  :global(body) {
    margin: 0;
    overflow: hidden;
    background: #55b9f3;
  }

  .container {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;
    padding: 50px;
    background: white;
    opacity: 0.5;
    font-size: 20px;
    color: black;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    z-index: 10;
  }
  h1 {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: -100px;
    left: 28px;
  }
  .mode {
    width: 300px;
    position: fixed;
    height: 100px;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -150px;
  }
  .mode div {
    border-radius: 10px;
    width: 110px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
  }

  .mode div.ai {
    border-radius: 33px;
    background: #55b9f3;
    box-shadow: 11px 11px 22px #489dcf, -11px -11px 22px #62d5ff;
    float: left;
  }
  .mode div.player {
    border-radius: 33px;
    background: #55b9f3;
    box-shadow: -11px 11px 22px #489dcf, 11px -11px 22px #62d5ff;
    float: right;
  }
</style>

<canvas id="canvas" />

{#if !modeSelected}
  <div class="mode">
    <h1>Choose Mode</h1>
    <div on:click={chooseMode('ai')} class="ai">AI</div>
    <div on:click={chooseMode('player')} class="player">Player</div>
  </div>
{/if}

{#if isEnd}
  <div class="container">
    <span>Game Over</span>
    <br />
    <br />
    {endText}
  </div>
{/if}
